[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStartPre=/opt/sbin/wupiao k8smaster-01:8080
ExecStart=/opt/bin/kube-proxy \
 --master=http://k8smaster-01:8080 \
 --logtostderr=true

Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=node
