[Unit]
Description=Kubernetes API Server Proxy
Documentation=https://github.com/vaijab/kube-apiproxy

[Service]
ExecStart=/opt/bin/kube-apiproxy \
  --api-port=8080 \
  --unit-name=kube-apiserver.service

Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=node

